@font-face {
  font-family: opposit-black;
  src: url("../fonts/OPPOSITE-BLACK.otf") format("opentype");
}

.rotate {

  /* Safari */
  -webkit-transform: rotate(90deg);

  /* Firefox */
  -moz-transform: rotate(90deg);

  /* IE */
  -ms-transform: rotate(90deg);

  /* Opera */
  -o-transform: rotate(90deg);

  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.position-vertical-text {
  top: 50%;
  left: 50%;
}

.position-percentage {
  bottom: 0;
  right: 0;
}

.blue-text {
  color: blue;
}

* {
  margin: 0;
  padding: 0;
}

html, body
{
  height: 100%;
}

html {
  font-size: 62.5%;
}

a {
  font-size: 6.2rem;
  font-family: opposit-black !important;
  color: #FFFFFF;
  text-decoration: none;
  cursor: pointer;
}

a:not([href]):not([tabindex]) {
  color: white;
}

a:hover {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

p {
  color: white;
  font-size: 5rem;
  font-family: opposit-black !important;
  margin-bottom: 0;
}

.container-fluid {
  padding: 0 158px;
}

.dream-body {
  margin-bottom: 50px;
}

.left-side {
  line-height: 1.4;
}

.right-side {
  height: 100vh;
  width: 100vh;
  position: relative;
  overflow: hidden;
}

.wrapper {
  display: flex;
  overflow: hidden;
  height: 100vh;
  margin-top: -100px;
  padding-top: 100px;
  position: relative;
  width: 100%;
  backface-visibility: hidden;
  will-change: overflow;
}

.highlight_match {
  background-color: blue;
  font-weight: bold;
}

.left-side,
.right-side {
  overflow: auto;
  height: auto;
  padding: .5rem;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
}

.left-side::-webkit-scrollbar,
.right-side::-webkit-scrollbar {
  display: none;
}

@keyframes scroll {
  0% {
    top: 100%;
  }
  100% {
    top: -170%;
  }
}

//ABOUT

.about-wrapper {
  height: 80vh;
  margin-top: 150px;
  overflow: auto;
}

.about-text {
  position: relative;
  bottom: 0;
  line-height: 1.4;
}

.medium-margin-left {
  margin-left: 140px;
}

.outline {
  color: black !important;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

//UPLOAD

textarea {
  background-color: black;
  color: blue;
  width: 100%;
  height: 300vw;
  font-family: opposit-black;
  font-size: 6rem;
  text-decoration: none;
  border: none;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  overflow: hidden;

  //background-image: -webkit-linear-gradient(to right, white 10px, transparent 10px), -webkit-linear-gradient(to left, white 10px, transparent 10px), -webkit-linear-gradient(white 30px, #ccc 30px, #ccc 31px, white 31px);
  //background-image: -moz-linear-gradient(to right, white 10px, transparent 10px), -moz-linear-gradient(to left, white 10px, transparent 10px), -moz-linear-gradient(white 30px, #ccc 30px, #ccc 31px, white 31px);
  //background-image: -ms-linear-gradient(to right, white 10px, transparent 10px), -ms-linear-gradient(to left, white 10px, transparent 10px), -ms-linear-gradient(white 30px, #ccc 30px, #ccc 31px, white 31px);
  //background-image: -o-linear-gradient(to right, white 10px, transparent 10px), -o-linear-gradient(to left, white 10px, transparent 10px), -o-linear-gradient(white 30px, #ccc 30px, #ccc 31px, white 31px);
  background-image: linear-gradient(to right, black 10px, transparent 10px), linear-gradient(to left, black 10px, transparent 10px), linear-gradient(black 30px, white 30px, white 31px, black 31px);
  background-size: 100% 100%, 100% 100%, 100% 96px;
  line-height: 96px;
  padding-top: 50px;
}

.form-control {
  border: 0;
  font-size: 6rem;
  padding: 50px 0 0 0;
  color: blue !important;
}

.form-control:focus {
  border-color: black;
}


//MOBILE

/*textarea {
  background-color: black;
  color: blue;
  width: 100%;
  height: 300vw;
  font-family: opposit-black;
  font-size: 5rem;
  text-decoration: none;
  border: none;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  overflow: hidden;

  //background-image: -webkit-linear-gradient(to right, white 10px, transparent 10px), -webkit-linear-gradient(to left, white 10px, transparent 10px), -webkit-linear-gradient(white 30px, #ccc 30px, #ccc 31px, white 31px);
  //background-image: -moz-linear-gradient(to right, white 10px, transparent 10px), -moz-linear-gradient(to left, white 10px, transparent 10px), -moz-linear-gradient(white 30px, #ccc 30px, #ccc 31px, white 31px);
  //background-image: -ms-linear-gradient(to right, white 10px, transparent 10px), -ms-linear-gradient(to left, white 10px, transparent 10px), -ms-linear-gradient(white 30px, #ccc 30px, #ccc 31px, white 31px);
  //background-image: -o-linear-gradient(to right, white 10px, transparent 10px), -o-linear-gradient(to left, white 10px, transparent 10px), -o-linear-gradient(white 30px, #ccc 30px, #ccc 31px, white 31px);
  background-image: linear-gradient(to right, black 10px, transparent 10px), linear-gradient(to left, black 10px, transparent 10px), linear-gradient(black 30px, white 30px, white 31px, black 31px);
  background-size: 100% 100%, 100% 100%, 100% 50px;
  line-height: 50px;
  padding-top: 31px;
}*/