@font-face {
  font-family: opposit-black;
  src: url("/fonts/OPPOSITE-BLACK.otf") format("opentype");
}

.rotate {

  /* Safari */
  -webkit-transform: rotate(90deg);

  /* Firefox */
  -moz-transform: rotate(90deg);

  /* IE */
  -ms-transform: rotate(90deg);

  /* Opera */
  -o-transform: rotate(90deg);

  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.position-vertical-text {
  top: 50%;
  left: 50%;
}

.position-percentage {
  bottom: 0;
  right: 0;
}

.blue-text {
  color: blue;
}

* {
  margin: 0;
  padding: 0;
}

html, body
{
  height: 100%;
}

a {
  font-size: 4rem;
  font-family: opposit-black !important;
  color: #FFFFFF;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

p {
  color: white;
  font-size: 3rem;
  font-family: opposit-black !important;
  margin-bottom: 0;
}

.container-fluid {
  padding: 0 158px;
}

.dream-body {
  margin-bottom: 50px;
}

.left-side {
  overflow: auto;
}

.right-side {
  height: 100vh;
  width: 100vh;
  position: relative;
  overflow: hidden;
}

.wrapper {
  display: flex;
  overflow: hidden;
  height: 100vh;
  margin-top: -100px;
  padding-top: 100px;
  position: relative;
  width: 100%;
  backface-visibility: hidden;
  will-change: overflow;
}

.left-side,
.right-side {
  overflow: auto;
  height: auto;
  padding: .5rem;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
}

.left-side::-webkit-scrollbar,
.right-side::-webkit-scrollbar {
  display: none;
}

@keyframes scroll {
  0% {
    top: 100%;
  }
  100% {
    top: -170%;
  }
}